<h1 class="animated fadeIn">{{ product.espectaculo | uppercase }} <small>({{ product.fecha_espectaculo | date }})</small></h1>
<hr>

<div class="row animated fadeIn fast">

  <div class="col-md-4">

    <img src="{{product.img}}" class="img-fluid" alt="{{product.espectaculo}}">
    <br><br>
    <a [routerLink]="['/products']" class="btn btn-outline-danger btn-block active">Regresar</a>

  </div>

  <div class="col-md-8">
    <h3>{{ product.espectaculo }}</h3>
    <hr>
    <p>
      {{ product.descripcion }}
    </p>

<button (click)="addToCar(product)" type="button" class="btn btn-outline-primary btn-block active">
 Añadir al carrito
</button>

  </div>

</div>
