<div class="container mt-4">

  <div class="row justify-content-md-center">

    <form class="col-md-6 ">

      <div class="row">
        <div class="form-group col-md-12">
          <label for="email">Correo:</label>
          <input type="text" class="form-control" id="email" #inputEmail>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" #inputPassword>
        </div>
      </div>

      <a [routerLink]="['/register']">
        <h6 class="text-center">Desea registrarse?</h6>
      </a>

      <button (click)="login(inputEmail.value, inputPassword.value)" type="button" class="btn btn-outline-primary btn-block active mt-1">
        Ingresar
      </button>

    </form>

  </div>
</div>
